Repository tky1094/ragxuary: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd web && npx prettier --write --ignore-unknown "${@#web/}"' --
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd web && npx eslint --fix'
  language: system
  pass_filenames: false

refactor: migrate frontend to Feature-Driven Architecture (#41)
  web/AGENTS.md
  web/app/[locale]/(auth)/login/page.tsx
  web/app/[locale]/(auth)/register/page.tsx
  web/app/api/auth/register/route.ts
  web/auth.ts
  web/components.json
  web/features/auth/__tests__/LoginForm.test.tsx
  web/features/auth/__tests__/RegisterForm.test.tsx
  web/features/auth/components/LoginForm.tsx
  web/features/auth/components/RegisterForm.tsx
  web/features/auth/components/index.ts
  web/features/auth/index.ts
  web/lib/api/client.ts
  web/lib/utils.ts
  web/lib/validations/auth.ts
  web/shared/components/LanguageSwitcher.tsx
  web/shared/components/index.ts
  web/shared/components/ui/__tests__/Button.test.tsx
  web/shared/components/ui/button.tsx
  web/shared/components/ui/card.tsx
  web/shared/components/ui/form.tsx
  web/shared/components/ui/index.ts
  web/shared/components/ui/input.tsx
  web/shared/components/ui/label.tsx
Due: prettier, eslint

fix: add missing lib files and update .gitignore
  .gitignore
  web/features/auth/lib/validations.ts
  web/shared/lib/__tests__/utils.test.ts
  web/shared/lib/api/client.ts
  web/shared/lib/index.ts
  web/shared/lib/utils.ts
Due: prettier, eslint

feat: add authentication middleware for route protection
  web/middleware.ts
  web/shared/lib/__tests__/routes.test.ts
  web/shared/lib/routes.ts
Due: prettier, eslint

chore: add issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

git commit -m "docs: restructure documentation
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  api/README.md
  docs/DEVELOPMENT.md
  docs/REQUIREMENTS.md
  web/AGENTS.md
  web/README.md
Due: prettier

chore: reorganize .gitignore files (#46)
  .github/ISSUE_TEMPLATE/improvement.md
  .gitignore
  api/.gitignore
  web/.gitignore
  web/openapi.json
Due: prettier

chore: update .env.example with all required variables (#48)
  .env.example
Due: none

chore: add Docker Compose integration test workflow (#50)
  .github/workflows/test-docker-compose.yml
Due: none

docs: fix README.md consistency with reference documents
  README.md
Due: none

chore: create web/shared directory foundation
  web/shared/components/layout/.gitkeep
  web/shared/hooks/.gitkeep
  web/shared/stores/.gitkeep
  web/shared/types/.gitkeep
Due: none

fix(ci): specify package_json_file for pnpm/action-setup
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none

refactor: simplify SDK generation with class-based API (#56)
  api/app/core/openapi.py
  api/app/main.py
  scripts/generate-client.sh
  web/AGENTS.md
  web/app/api/auth/register/route.ts
  web/auth.ts
  web/biome.json
  web/client/@tanstack/react-query.gen.ts
  web/client/client.gen.ts
  web/client/client/types.gen.ts
  web/client/client/utils.gen.ts
  web/client/core/auth.gen.ts
  web/client/core/bodySerializer.gen.ts
  web/client/core/params.gen.ts
  web/client/core/pathSerializer.gen.ts
  web/client/core/queryKeySerializer.gen.ts
  web/client/core/serverSentEvents.gen.ts
  web/client/core/utils.gen.ts
  web/client/index.ts
  web/client/sdk.gen.ts
  web/client/types.gen.ts
  web/client/zod.gen.ts
  web/openapi-ts.config.ts
Due: prettier, eslint

fix(ci): add package_json_file to pnpm/action-setup in generate-client workflow (#58)
  .github/workflows/generate-client.yml
Due: none

docs: update technology stack versions and pip commands (#60)
  AGENTS.md
  CONTRIBUTING.md
  api/README.md
  docs/REQUIREMENTS.md
  scripts/generate-client.sh
  web/AGENTS.md
Due: prettier

refactor: add service layer to backend architecture (#62)
  api/app/api/v1/endpoints/auth.py
  api/app/services/__init__.py
  api/app/services/auth.py
  api/app/services/exceptions.py
  api/tests/services/__init__.py
  api/tests/services/test_auth.py
  api/tests/test_auth.py
Due: none

feat: implement Project Management API (#64)
  .github/workflows/generate-client.yml
  api/app/api/v1/endpoints/projects.py
  api/app/api/v1/router.py
  api/app/repositories/__init__.py
  api/app/repositories/project.py
  api/app/services/__init__.py
  api/app/services/exceptions.py
  api/app/services/project.py
  api/tests/integration/__init__.py
  api/tests/integration/api/__init__.py
  api/tests/integration/api/test_auth.py
  api/tests/integration/api/test_projects.py
  api/tests/services/__init__.py
  api/tests/unit/__init__.py
  api/tests/unit/repositories/__init__.py
  api/tests/unit/repositories/test_project.py
  api/tests/unit/services/__init__.py
  api/tests/unit/services/test_auth.py
  api/tests/unit/services/test_project.py
Due: none

chore: regenerate API client from OpenAPI schema
  web/client/@tanstack/react-query.gen.ts
  web/client/index.ts
  web/client/sdk.gen.ts
  web/client/types.gen.ts
Due: none

chore: improve verify.sh script (#69)
  scripts/verify.sh
Due: none

feat: implement TanStack Query integration and project list/create UI (#65)
  web/app/[locale]/DashboardContent.tsx
  web/app/[locale]/layout.tsx
  web/app/[locale]/page.tsx
  web/features/projects/components/CreateProjectForm.tsx
  web/features/projects/components/ProjectList.tsx
  web/features/projects/components/index.ts
  web/features/projects/hooks/index.ts
  web/features/projects/hooks/useProjects.ts
  web/features/projects/index.ts
  web/features/projects/lib/validations.ts
  web/messages/en.json
  web/messages/ja.json
  web/next.config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/shared/components/providers/QueryClientProvider.tsx
  web/shared/components/providers/SessionProvider.tsx
  web/shared/components/providers/index.ts
  web/shared/components/ui/dialog.tsx
  web/shared/hooks/index.ts
  web/shared/hooks/useApiClient.ts
  web/shared/lib/api/client.ts
Due: prettier, eslint

feat: reorganize dashboard and projects pages with shared layout (#65)
  web/app/[locale]/projects/page.tsx
  web/features/dashboard/components/DashboardContent.tsx
  web/features/dashboard/components/index.ts
  web/features/dashboard/index.ts
  web/features/projects/components/ProjectList.tsx
  web/features/projects/components/ProjectsPageContent.tsx
  web/features/projects/components/index.ts
  web/features/projects/hooks/useProjects.ts
  web/messages/en.json
  web/messages/ja.json
  web/shared/components/layout/PageContainer.tsx
  web/shared/components/layout/index.ts
  web/shared/components/ui/dialog.tsx
Due: prettier, eslint

feat: add project settings page with toast notifications (#65)
  web/app/[locale]/layout.tsx
  web/app/[locale]/projects/[projectSlug]/settings/page.tsx
  web/features/projects/components/ProjectSettingsForm.tsx
  web/features/projects/components/ProjectSettingsPageContent.tsx
  web/features/projects/components/index.ts
  web/features/projects/hooks/useProjects.ts
  web/messages/en.json
  web/messages/ja.json
  web/package.json
  web/pnpm-lock.yaml
  web/shared/components/ui/select.tsx
  web/shared/components/ui/sonner.tsx
  web/shared/components/ui/switch.tsx
  web/shared/components/ui/textarea.tsx
Due: prettier, eslint

feat: add delete project dialog with GitHub-style confirmation (#65)
  web/features/projects/components/DeleteProjectDialog.tsx
  web/features/projects/components/ProjectSettingsPageContent.tsx
  web/features/projects/components/index.ts
  web/messages/en.json
  web/messages/ja.json
  web/package.json
  web/pnpm-lock.yaml
  web/shared/components/ui/alert-dialog.tsx
Due: prettier, eslint

test: add tests for projects feature (#65)
  web/features/projects/__tests__/CreateProjectForm.test.tsx
  web/features/projects/__tests__/ProjectList.test.tsx
  web/features/projects/__tests__/validations.test.ts
Due: prettier, eslint

refactor: migrate route structure to p/[projectSlug] format (#72)
  docs/REQUIREMENTS.md
  web/AGENTS.md
  web/app/[locale]/(public)/docs/[projectSlug]/search/page.tsx
  web/app/[locale]/(public)/docs/page.tsx
  web/app/[locale]/admin/settings/page.tsx
  web/app/[locale]/p/[projectSlug]/chat/[conversationId]/page.tsx
  web/app/[locale]/p/[projectSlug]/chat/page.tsx
  web/app/[locale]/p/[projectSlug]/docs/[...docPath]/page.tsx
  web/app/[locale]/p/[projectSlug]/docs/page.tsx
  web/app/[locale]/p/[projectSlug]/edit/[...docPath]/page.tsx
  web/app/[locale]/p/[projectSlug]/edit/page.tsx
  web/app/[locale]/p/[projectSlug]/settings/page.tsx
  web/app/[locale]/personal/page.tsx
  web/app/[locale]/projects/[projectSlug]/new/page.tsx
  web/app/[locale]/projects/new/page.tsx
  web/features/chat/components/.gitkeep
  web/features/chat/hooks/.gitkeep
  web/features/chat/lib/.gitkeep
  web/features/dashboard/components/DashboardContent.tsx
  web/features/docs/components/.gitkeep
  web/features/docs/hooks/.gitkeep
  web/features/docs/lib/.gitkeep
  web/messages/en.json
  web/messages/ja.json
  web/middleware.ts
  web/shared/lib/__tests__/routes.test.ts
  web/shared/lib/routes.ts
Due: prettier, eslint

feat: add common header, project tabs, and update fonts (#74)
  web/app/[locale]/(main)/admin/groups/page.tsx
  web/app/[locale]/(main)/admin/page.tsx
  web/app/[locale]/(main)/admin/users/page.tsx
  web/app/[locale]/(main)/layout.tsx
  web/app/[locale]/(main)/p/[projectSlug]/chat/[conversationId]/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/chat/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/docs/[...docPath]/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/docs/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/edit/[...docPath]/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/edit/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/layout.tsx
  web/app/[locale]/(main)/p/[projectSlug]/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/settings/page.tsx
  web/app/[locale]/(main)/page.tsx
  web/app/[locale]/(main)/personal/page.tsx
  web/app/[locale]/(main)/projects/page.tsx
  web/app/globals.css
  web/app/layout.tsx
  web/biome.json
  web/features/dashboard/components/DashboardContent.tsx
  web/features/projects/components/ProjectTabs.tsx
  web/features/projects/components/index.ts
  web/messages/en.json
  web/messages/ja.json
  web/package.json
  web/pnpm-lock.yaml
  web/shared/components/LanguageSwitcher.tsx
  web/shared/components/layout/.gitkeep
  web/shared/components/layout/Breadcrumb.tsx
  web/shared/components/layout/Header.tsx
  web/shared/components/layout/PageContainer.tsx
  web/shared/components/layout/index.ts
  web/shared/components/ui/breadcrumb.tsx
  web/shared/components/ui/tabs.tsx
Due: prettier, eslint

feat: add dark mode toggle and improve header UI
  web/app/[locale]/(main)/p/[projectSlug]/layout.tsx
  web/app/[locale]/layout.tsx
  web/features/projects/components/ProjectTabs.tsx
  web/messages/en.json
  web/messages/ja.json
  web/shared/components/ThemeToggle.tsx
  web/shared/components/layout/Breadcrumb.tsx
  web/shared/components/layout/Header.tsx
  web/shared/components/providers/ThemeProvider.tsx
  web/shared/components/providers/index.ts
  web/shared/components/ui/tabs.tsx
Due: prettier, eslint

fix: add session auto-refresh to prevent 401 errors after timeout
  web/shared/components/providers/SessionProvider.tsx
  web/shared/hooks/useApiClient.ts
Due: prettier, eslint

refactor: simplify API client setup with global auth callback
  web/features/projects/hooks/useProjects.ts
  web/shared/components/providers/QueryClientProvider.tsx
  web/shared/hooks/index.ts
  web/shared/hooks/useApiClient.ts
  web/shared/lib/api/client.ts
  web/shared/lib/index.ts
Due: prettier, eslint

refactor: migrate to @hey-api/client-next with SSR/Suspense support
  web/app/[locale]/(main)/p/[projectSlug]/settings/page.tsx
  web/app/[locale]/(main)/page.tsx
  web/app/[locale]/(main)/projects/page.tsx
  web/app/api/auth/register/route.ts
  web/client/@tanstack/react-query.gen.ts
  web/client/client.gen.ts
  web/client/client/client.gen.ts
  web/client/client/types.gen.ts
  web/client/client/utils.gen.ts
  web/client/sdk.gen.ts
  web/client/types.gen.ts
  web/features/dashboard/components/DashboardContent.tsx
  web/features/dashboard/components/DashboardSkeleton.tsx
  web/features/dashboard/components/RecentProjects.tsx
  web/features/projects/components/ProjectList.tsx
  web/features/projects/components/ProjectListSkeleton.tsx
  web/features/projects/components/ProjectSettingsPageContent.tsx
  web/features/projects/components/ProjectSettingsSkeleton.tsx
  web/features/projects/components/ProjectsPageContent.tsx
  web/features/projects/components/index.ts
  web/features/projects/hooks/useProjects.ts
  web/features/projects/lib/prefetch.ts
  web/openapi-ts.config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/shared/components/providers/QueryClientProvider.tsx
  web/shared/components/ui/skeleton.tsx
  web/shared/lib/api/client.ts
  web/shared/lib/api/hey-api-config.ts
Due: prettier, eslint

fix: update ProjectList tests and fix CSS class ordering
  web/features/projects/__tests__/ProjectList.test.tsx
  web/shared/components/ThemeToggle.tsx
  web/shared/components/ui/skeleton.tsx
Due: prettier, eslint

style: introduce warm theme color system with CSS variables
  web/AGENTS.md
  web/app/[locale]/(main)/admin/groups/page.tsx
  web/app/[locale]/(main)/admin/page.tsx
  web/app/[locale]/(main)/admin/users/page.tsx
  web/app/[locale]/(main)/layout.tsx
  web/app/[locale]/(main)/p/[projectSlug]/chat/[conversationId]/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/chat/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/docs/[...docPath]/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/docs/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/edit/[...docPath]/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/edit/page.tsx
  web/app/[locale]/(main)/personal/page.tsx
  web/app/globals.css
  web/features/projects/components/ProjectTabs.tsx
  web/shared/components/ThemeToggle.tsx
  web/shared/components/layout/Header.tsx
Due: prettier, eslint

feat: redesign ProjectCard with GitHub-style layout
  web/features/dashboard/components/DashboardSkeleton.tsx
  web/features/dashboard/components/RecentProjects.tsx
  web/features/projects/components/ProjectCard.tsx
  web/features/projects/components/ProjectList.tsx
  web/features/projects/components/ProjectListSkeleton.tsx
  web/features/projects/components/index.ts
  web/shared/components/ui/badge.tsx
  web/shared/lib/api/client.ts
  web/shared/lib/api/hey-api-config.ts
Due: prettier, eslint

docs: enhance and separate database schema documentation (#84)
  docs/REQUIREMENTS.md
  docs/database-schema.md
Due: none

chore: add avatar_url column to users table (#86)
  api/alembic/versions/20260125_26c7aff739a2_add_avatar_url_to_users.py
  api/app/models/user.py
  api/app/schemas/user.py
Due: none

chore: regenerate API client from OpenAPI schema
  web/client/types.gen.ts
Due: none

feat: redesign login and registration pages (#89)
  web/app/[locale]/(auth)/login/page.tsx
  web/app/[locale]/(auth)/register/page.tsx
  web/app/globals.css
  web/features/auth/components/LoginForm.tsx
  web/features/auth/components/RegisterForm.tsx
  web/features/dashboard/components/DashboardSkeleton.tsx
  web/features/projects/components/ProjectCard.tsx
  web/features/projects/components/ProjectListSkeleton.tsx
  web/public/images/login.png
  web/shared/components/ui/badge.tsx
Due: prettier, eslint

feat: add custom brand icon and unify branding (#91)
  web/app/[locale]/(auth)/login/page.tsx
  web/app/[locale]/(auth)/register/page.tsx
  web/app/globals.css
  web/app/layout.tsx
  web/features/auth/components/AuthLayout.tsx
  web/public/favicon.svg
  web/public/icon.svg
  web/shared/components/layout/Breadcrumb.tsx
Due: prettier, eslint

feat: add VSCode-style Activity Bar with navigation and user menu (#93)
  web/app/[locale]/(main)/bookmarks/page.tsx
  web/app/[locale]/(main)/layout.tsx
  web/app/[locale]/(main)/notifications/page.tsx
  web/app/[locale]/(main)/settings/admin/groups/page.tsx
  web/app/[locale]/(main)/settings/admin/page.tsx
  web/app/[locale]/(main)/settings/admin/users/page.tsx
  web/app/[locale]/(main)/settings/page.tsx
  web/app/[locale]/(main)/settings/personal/page.tsx
  web/app/globals.css
  web/messages/en.json
  web/messages/ja.json
  web/package.json
  web/pnpm-lock.yaml
  web/shared/components/layout/ActivityBar.tsx
  web/shared/components/layout/Breadcrumb.tsx
  web/shared/components/layout/Header.tsx
  web/shared/components/layout/index.ts
  web/shared/components/ui/avatar.tsx
  web/shared/components/ui/empty.tsx
  web/shared/components/ui/popover.tsx
  web/shared/components/ui/tooltip.tsx
  web/shared/lib/__tests__/routes.test.ts
  web/shared/lib/routes.ts
Due: prettier, eslint

docs: add document_revisions table schema
  docs/database-schema.md
Due: none

Path conditions:
  prettier: any of: ^web/.*\.(js|jsx|ts|tsx|json|css|md)$, but not: ^web/(client|\.next)/
  eslint: any of: ^web/.*\.(js|jsx|ts|tsx)$, but not: ^web/(client|\.next)/
