Repository tky1094/ragxuary: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd web && npx prettier --write --ignore-unknown "${@#web/}"' --
  language: system

eslint:
  name: eslint
  entry: bash -c 'cd web && npx eslint --fix'
  language: system
  pass_filenames: false

docs: enhance document_revisions with change tracking
  docs/database-schema.md
Due: none

feat: implement Document Management API (#66)
  api/alembic/env.py
  api/alembic/versions/20260127_a1b2c3d4e5f6_create_documents_table.py
  api/alembic/versions/20260127_b2c3d4e5f6a7_create_revision_batches_table.py
  api/alembic/versions/20260127_c3d4e5f6a7b8_create_document_revisions_table.py
  api/app/api/v1/endpoints/documents.py
  api/app/api/v1/router.py
  api/app/models/__init__.py
  api/app/models/document.py
  api/app/models/document_revision.py
  api/app/models/project.py
  api/app/models/revision_batch.py
  api/app/models/user.py
  api/app/repositories/document.py
  api/app/repositories/revision.py
  api/app/schemas/document.py
  api/app/services/__init__.py
  api/app/services/document.py
  api/app/services/exceptions.py
  api/tests/integration/api/test_documents.py
  api/tests/unit/services/test_document.py
Due: none

fix: prevent duplicate enum type creation in migration
  api/alembic/versions/20260127_c3d4e5f6a7b8_create_document_revisions_table.py
Due: none

fix: use raw SQL for enum type creation in migration
  api/alembic/versions/20260127_c3d4e5f6a7b8_create_document_revisions_table.py
Due: none

chore: regenerate API client from OpenAPI schema
  web/client/@tanstack/react-query.gen.ts
  web/client/index.ts
  web/client/sdk.gen.ts
  web/client/types.gen.ts
Due: none

docs: reorganize MVP phases and update requirements
  docs/REQUIREMENTS.md
Due: none

style: adjust layout padding for full-width header and content
  web/app/[locale]/(main)/p/[projectSlug]/layout.tsx
  web/features/projects/components/ProjectTabs.tsx
  web/shared/components/layout/Header.tsx
  web/shared/components/layout/PageContainer.tsx
Due: prettier, eslint

feat: implement project members authorization (RBAC)
  api/alembic/versions/20260129_d4e5f6a7b8c9_create_project_members_table.py
  api/app/api/v1/endpoints/documents.py
  api/app/api/v1/endpoints/project_members.py
  api/app/api/v1/endpoints/projects.py
  api/app/api/v1/router.py
  api/app/models/__init__.py
  api/app/models/project.py
  api/app/models/project_member.py
  api/app/models/user.py
  api/app/repositories/project_member.py
  api/app/schemas/project_member.py
  api/app/services/__init__.py
  api/app/services/authorization.py
  api/app/services/document.py
  api/app/services/exceptions.py
  api/app/services/project_member.py
  api/tests/integration/api/test_project_members.py
  api/tests/unit/services/test_authorization.py
  api/tests/unit/services/test_project_member.py
  web/client/@tanstack/react-query.gen.ts
  web/client/index.ts
  web/client/sdk.gen.ts
  web/client/types.gen.ts
Due: none

fix: add member_repo to DocumentService tests
  api/tests/unit/services/test_document.py
Due: none

feat: add user profile update API endpoint
  api/app/api/v1/endpoints/users.py
  api/app/api/v1/router.py
  api/app/repositories/user.py
  api/app/schemas/user.py
  api/app/services/user.py
  api/tests/integration/api/test_users.py
Due: none

fix: include member and public projects in project list
  api/app/api/v1/endpoints/projects.py
  api/app/repositories/project.py
  api/app/services/project.py
  api/tests/integration/api/test_projects.py
Due: none

chore: regenerate API client from OpenAPI schema
  web/client/@tanstack/react-query.gen.ts
  web/client/sdk.gen.ts
Due: none

feat(api): add project bookmark functionality
  api/alembic/versions/20260130_e5f6a7b8c9d0_create_project_bookmarks_table.py
  api/app/api/v1/endpoints/bookmarks.py
  api/app/api/v1/router.py
  api/app/models/__init__.py
  api/app/models/project.py
  api/app/models/project_bookmark.py
  api/app/models/user.py
  api/app/repositories/project_bookmark.py
  api/app/schemas/project_bookmark.py
  api/app/services/__init__.py
  api/app/services/project_bookmark.py
  api/tests/integration/api/test_bookmarks.py
  api/tests/unit/services/test_project_bookmark.py
Due: none

feat(web): add project bookmark frontend implementation
  web/app/[locale]/(main)/bookmarks/page.tsx
  web/app/globals.css
  web/client/@tanstack/react-query.gen.ts
  web/client/index.ts
  web/client/sdk.gen.ts
  web/client/types.gen.ts
  web/features/bookmarks/__tests__/BookmarksPageContent.test.tsx
  web/features/bookmarks/components/BookmarksPageContent.tsx
  web/features/bookmarks/components/index.ts
  web/features/bookmarks/index.ts
  web/features/bookmarks/lib/prefetch.ts
  web/features/projects/__tests__/ProjectList.test.tsx
  web/features/projects/components/ProjectCard.tsx
  web/messages/en.json
  web/messages/ja.json
  web/shared/components/BookmarkButton.tsx
  web/shared/components/ProjectCard.tsx
  web/shared/components/__tests__/BookmarkButton.test.tsx
  web/shared/components/__tests__/ProjectCard.test.tsx
  web/shared/components/index.ts
  web/shared/hooks/__tests__/useBookmarks.test.tsx
  web/shared/hooks/index.ts
  web/shared/hooks/useBookmarks.ts
Due: prettier, eslint

feat: add role-based route protection for project pages
  api/app/api/v1/endpoints/projects.py
  api/app/schemas/project.py
  api/tests/integration/api/test_project_permissions.py
  web/app/[locale]/(main)/p/[projectSlug]/ProjectLayoutContent.tsx
  web/app/[locale]/(main)/p/[projectSlug]/edit/EditProjectPageContent.tsx
  web/app/[locale]/(main)/p/[projectSlug]/edit/page.tsx
  web/app/[locale]/(main)/p/[projectSlug]/layout.tsx
  web/client/@tanstack/react-query.gen.ts
  web/client/index.ts
  web/client/sdk.gen.ts
  web/client/types.gen.ts
  web/features/projects/components/PermissionGuard.tsx
  web/features/projects/components/ProjectSettingsPageContent.tsx
  web/features/projects/components/ProjectTabs.tsx
  web/features/projects/components/__tests__/PermissionGuard.test.tsx
  web/features/projects/components/index.ts
  web/features/projects/hooks/__tests__/useProjectPermissions.test.tsx
  web/features/projects/hooks/index.ts
  web/features/projects/hooks/useProjectPermissions.ts
  web/messages/en.json
  web/messages/ja.json
  web/shared/components/ForbiddenPage.tsx
  web/shared/components/index.ts
Due: prettier, eslint

fix: show 404 Not Found page for non-existent projects
  web/features/projects/components/PermissionGuard.tsx
  web/features/projects/components/__tests__/PermissionGuard.test.tsx
  web/features/projects/hooks/useProjectPermissions.ts
  web/messages/en.json
  web/messages/ja.json
  web/shared/components/NotFoundPage.tsx
  web/shared/components/__tests__/NotFoundPage.test.tsx
  web/shared/components/index.ts
  web/shared/lib/api/client.ts
  web/shared/lib/api/errors.ts
Due: prettier, eslint

feat(api): add setup API for initial admin user creation
  api/app/api/v1/endpoints/setup.py
  api/app/api/v1/router.py
  api/app/repositories/user.py
  api/app/schemas/setup.py
  api/app/services/exceptions.py
  api/app/services/setup.py
  api/tests/integration/api/test_setup.py
  api/tests/unit/services/test_setup.py
  web/client/@tanstack/react-query.gen.ts
  web/client/index.ts
  web/client/sdk.gen.ts
  web/client/types.gen.ts
Due: none

feat(web): add setup wizard for initial admin user creation
  web/app/[locale]/(auth)/setup/page.tsx
  web/features/setup/__tests__/SetupForm.test.tsx
  web/features/setup/components/SetupForm.tsx
  web/features/setup/components/index.ts
  web/features/setup/index.ts
  web/features/setup/lib/validations.ts
  web/messages/en.json
  web/messages/ja.json
  web/middleware.ts
  web/shared/lib/routes.ts
Due: prettier, eslint

feat(api): add auto-run Alembic migrations on application startup
  api/app/config.py
  api/app/core/migration.py
  api/app/main.py
  api/tests/unit/core/__init__.py
  api/tests/unit/core/test_migration.py
Due: none

fix: update ruff config and pre-commit version for consistent import sorting
  .pre-commit-config.yaml
  api/app/core/migration.py
  api/ruff.toml
Due: none

fix: organize imports in alembic files for ruff compatibility
  api/alembic/env.py
  api/alembic/versions/20260117_382d1adc3c37_create_users_and_projects_tables.py
  api/alembic/versions/20260118_add_preferred_locale_to_users.py
  api/alembic/versions/20260125_26c7aff739a2_add_avatar_url_to_users.py
  api/alembic/versions/20260127_a1b2c3d4e5f6_create_documents_table.py
  api/alembic/versions/20260127_b2c3d4e5f6a7_create_revision_batches_table.py
  api/alembic/versions/20260127_c3d4e5f6a7b8_create_document_revisions_table.py
  api/alembic/versions/20260129_d4e5f6a7b8c9_create_project_members_table.py
  api/alembic/versions/20260130_e5f6a7b8c9d0_create_project_bookmarks_table.py
Due: none

fix: only cache setup status when setup is completed
  web/middleware.ts
Due: prettier, eslint

refactor(web): unify EmptyState component across Dashboard and Projects
  web/features/dashboard/components/RecentProjects.tsx
  web/features/projects/components/ProjectList.tsx
  web/features/projects/components/ProjectsPageContent.tsx
  web/shared/components/EmptyProjects.tsx
  web/shared/components/__tests__/EmptyProjects.test.tsx
  web/shared/components/index.ts
Due: prettier, eslint

docs(web): add Data Fetching Pattern section to AGENTS.md
  web/AGENTS.md
Due: prettier

fix(web): cleanup animation timer on BookmarkButton unmount
  web/shared/components/BookmarkButton.tsx
Due: prettier, eslint

feat(api): implement image upload API (#102)
  api/.gitignore
  api/alembic/versions/20260205_f6a7b8c9d0e1_create_uploads_table.py
  api/app/api/v1/endpoints/uploads.py
  api/app/api/v1/router.py
  api/app/config.py
  api/app/core/storage.py
  api/app/models/__init__.py
  api/app/models/project.py
  api/app/models/upload.py
  api/app/models/user.py
  api/app/repositories/upload.py
  api/app/schemas/upload.py
  api/app/services/exceptions.py
  api/app/services/image_processor.py
  api/app/services/upload.py
  api/pyproject.toml
  api/tests/integration/api/test_uploads.py
  api/tests/unit/services/test_image_processor.py
  api/tests/unit/services/test_upload.py
  api/uv.lock
Due: none

fix(web): improve CreateProjectForm UX with slug hints and visibility option (#144)
  web/features/projects/__tests__/CreateProjectForm.test.tsx
  web/features/projects/__tests__/validations.test.ts
  web/features/projects/components/CreateProjectForm.tsx
  web/features/projects/lib/validations.ts
  web/messages/en.json
  web/messages/ja.json
  web/package.json
  web/pnpm-lock.yaml
  web/shared/components/ui/radio-group.tsx
  web/vitest.setup.ts
Due: prettier, eslint

fix(api): standardize enum values and migrate tests to PostgreSQL (#152)
  .github/workflows/test.yml
  CONTRIBUTING.md
  api/alembic/versions/20260209_a1b2c3d4e5f7_standardize_projectvisibility_enum_to_lowercase.py
  api/app/models/document_revision.py
  api/app/models/project.py
  api/app/models/project_member.py
  api/pyproject.toml
  api/scripts/seed_documents.py
  api/tests/conftest.py
  api/uv.lock
Due: none

feat(web): add shared markdown rendering infrastructure (#121)
  web/app/globals.css
  web/package.json
  web/pnpm-lock.yaml
  web/shared/components/index.ts
  web/shared/components/markdown/CodeBlock.tsx
  web/shared/components/markdown/MarkdownRenderer.tsx
  web/shared/components/markdown/__tests__/CodeBlock.test.tsx
  web/shared/components/markdown/__tests__/MarkdownRenderer.test.tsx
  web/shared/components/markdown/index.ts
  web/shared/lib/index.ts
  web/shared/lib/markdown/__tests__/extract-headings.test.ts
  web/shared/lib/markdown/extract-headings.ts
  web/shared/lib/markdown/index.ts
  web/shared/lib/markdown/types.ts
Due: prettier, eslint

chore: share VSCode settings and recommended extensions
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore(web): fix Biome nursery lint warnings
  web/shared/components/BookmarkButton.tsx
  web/shared/components/ProjectCard.tsx
  web/shared/components/layout/ActivityBar.tsx
  web/shared/components/markdown/CodeBlock.tsx
  web/shared/components/markdown/MarkdownRenderer.tsx
  web/shared/components/ui/avatar.tsx
  web/shared/components/ui/empty.tsx
  web/shared/components/ui/popover.tsx
  web/shared/components/ui/radio-group.tsx
  web/shared/components/ui/select.tsx
  web/shared/components/ui/tooltip.tsx
Due: prettier, eslint

feat(web): add DocsContent component with document fetching (#122)
  web/app/[locale]/(main)/p/[projectSlug]/docs/[...docPath]/page.tsx
  web/features/docs/components/.gitkeep
  web/features/docs/components/DocsContent.tsx
  web/features/docs/components/DocsContentSkeleton.tsx
  web/features/docs/components/__tests__/DocsContent.test.tsx
  web/features/docs/components/index.ts
  web/features/docs/hooks/.gitkeep
  web/features/docs/hooks/__tests__/useDocument.test.tsx
  web/features/docs/hooks/index.ts
  web/features/docs/hooks/useDocument.ts
  web/features/docs/index.ts
  web/features/docs/lib/.gitkeep
  web/features/docs/lib/prefetch.ts
Due: prettier, eslint

fix(web): add explicit text color to inline code for light mode (#161)
  web/shared/components/markdown/CodeBlock.tsx
Due: prettier, eslint

fix(web): use prepend anchor links for markdown headings (#162)
  web/app/globals.css
  web/shared/components/markdown/MarkdownRenderer.tsx
  web/shared/components/markdown/__tests__/MarkdownRenderer.test.tsx
Due: prettier, eslint

feat(api): add Japanese seed documents script
  api/scripts/seed_documents_jp.py
Due: none

fix(web): handle breadcrumb overflow with ellipsis collapse (#157)
  web/shared/components/layout/Breadcrumb.tsx
Due: prettier, eslint

refactor(web): migrate syntax highlighting from highlight.js to Shiki (#167)
  web/app/globals.css
  web/package.json
  web/pnpm-lock.yaml
  web/shared/components/markdown/CodeBlock.tsx
  web/shared/components/markdown/MarkdownRenderer.tsx
  web/shared/components/markdown/__tests__/MarkdownRenderer.test.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: ^web/.*\.(js|jsx|ts|tsx|json|css|md)$, but not: ^web/(client|\.next)/
  eslint: any of: ^web/.*\.(js|jsx|ts|tsx)$, but not: ^web/(client|\.next)/
